<% content_for :title, "Portofolio" %>
<div class="container mt-5 mb-5">
  <p style="color: green"><%= notice %></p>
  <h1 class="title-cus">List Portofolio</h1>
  <% if !session[:user_id].nil? && session[:role] == 1 %>
    <div class="mt-4">
      <% if session[:user_id] == params[:id_user].to_i %>
        <%= link_to "New portofolio", new_portofolio_path, {class: 'btn btn-success me-2'} %>
      <% end %>
      <%= link_to "Back To Home", home_path, {class: 'btn btn-secondary'} %>
    </div>
  <% else %>
    <div class="mt-4">
      <%= link_to "List Freelancers", freelancers_path, {class: 'btn btn-secondary'} %>
    </div>
  <% end %>
  <% if @portofolios.blank? %>
    <div class="alert alert-warning mt-5" role="alert">
      Not have portofolio yet
    </div>
  <% else %>
    <div id="portofolios">
      <div class="row">
        <% @portofolios.each do |portofolio| %>
          <div class="col-sm-6 mt-5">
            <div class="card">
              <div class="card-header text-capitalize">
                <%= portofolio.type_project %> project
              </div>
              <div class="card-body">
                <%= render portofolio %>
              </div>
              <div class="card-footer text-end">
                <%= link_to "Show this portofolio", portofolio,  {class: "btn btn-custom"} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
