<div id="<%= dom_id client %>">
  <div class="row justify-content-center mt-sm-5">
    <div class="col-sm-12">
      <div class="card-client hover-zoom-effect">
        <p>Name: <%= client.name %></p>
        <p>Phone: <%= client.phone %></p>
        <p>Date birth: <%= client.date_birth %></p>
        <p>Type Industry: <%= client.type_industry %></p>
      </div>
    </div>
  </div>
</div>
