<% content_for :title, "Freelancer" %>
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <img class="nav-img hover-zoom-effect" src="<%= image_url('logo-freelance-id.png') %>" height="77" alt="logo-freelance-id">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <%= link_to "Welcome, #{current_user.name}", current_user, {class: "nav-item nav-link" } %>
          <%= button_to "LOGOUT", logout_path(session[:user_id]), method: :delete, class: "nav-item nav-link", id: "button-cus" %>
        </div>
      </div>
    </div>
  </nav>
</header>
<main class="container">
  <article class="mt-3">
    <p class="text-center" style="color: green"><%= notice %></p>
    <h2 class="title-cus mt-sm-5">Your Dashboard</h2>
    <div class="row justify-content-center mt-sm-5">
      <div class="col-sm-4 text-center" data-aos="zoom-in" data-aos-duration="1000">
        <div class="card-program shadow hover-zoom-effect">
          <h5 class="text-button mb-sm-5">Overall Rating</h5>
          <img src="<%= image_url('rating.png') %>" alt="rating" width="150">
          <p class="mt-sm-3 mb-sm-3">This is a menu to see the overall rating you get while working on freelance work </p>
          <a class="text-button" href="/freelancer/rating?id_user=<%= current_user.id %>">Click Here</a>
        </div>
      </div>
      <div class="col-sm-4 text-center" data-aos="zoom-in" data-aos-duration="1000">
        <div class="card-program shadow hover-zoom-effect">
          <h5 class="text-button mb-sm-5">Portofolio</h5>
          <img src="<%= image_url('portofolio.png') %>" alt="portofolio" width="100">
          <p class="mt-sm-4 mb-sm-3">This is a collection of your portfolio that can attract clients to work with you</p>
          <a class="text-button" href="/portofolios?id_user=<%= session[:user_id] %>">Click Here</a>
        </div>
      </div>
      <div class="col-sm-4 text-center" data-aos="zoom-in" data-aos-duration="1000">
        <div class="card-program shadow hover-zoom-effect">
          <h5 class="text-button mb-sm-4">Client's Feedback</h5>
          <img src="<%= image_url('feedback.png') %>" alt="feedback" width="100">
          <p class="mt-sm-3 mb-sm-3">This is a collection of feedback from your clients after they see the results of your work</p>
          <a class="text-button" href="/feedbacks?id_freelancer=<%= current_user.id %>">Click Here</a>
        </div>
      </div>
    </div>
  </article>
</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12"><img class="img-hp hover-zoom-effect" src="<%= image_url('logo-freelance-id.png') %>" alt="logo-freelances" width="80"></div>
          <div class="col-sm-12 mt-5">&copy; <script>
              document.write(new Date().getFullYear());
            </script> | All Rights Reserved</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row justify-content-center">
          <div class="col-sm-12">
            <h5>Intorduce Our Team</h5>
          </div>
          <div class="col-sm-12 text-center">
            <div class="row justify-content-center">
              <div class="col-sm-6">
                <div class="card-profile">
                  <a class="profile-button" href="https://github.com/adityatriand" target="_blank">Aditya | KM_G2BE1013</a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card-profile">
                  <a class="profile-button" href="https://github.com/shellaarp13" target="_blank">Shella | KM_G2BE2014</a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card-profile">
                  <a class="profile-button" href="https://github.com/vaniailca" target="_blank">Vania | KM_G2BE2174</a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card-profile">
                  <a class="profile-button" href="https://github.com/ClintonLimbong" target="_blank">Limbong | KM_G2BE4152</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
