<% content_for :title, "List Freelancers" %>
<div class="container mt-5 mb-5">
  <p style="color: green"><%= notice %></p>
  <h1 class="title-cus">Our Freelancers</h1>
  <%= link_to "Back To Home", home_path, {class: 'btn btn-secondary mt-5'} %>
  <div id="freelancers">
    <% @freelancers.each do |freelancer| %>
      <%= render freelancer %>
      <div class="d-flex mt-5">
        <%= link_to "See Portofolio", "/portofolios?id_user=#{freelancer.user_id}", {class: 'btn btn-custom me-3'} %>
        <%= link_to "See Testimoni", "/feedbacks?id_freelancer=#{freelancer.id}", {class: 'btn btn-info'} %>
      </div>
    <% end %>
  </div>
</div>
